<header class="header">
    <div class="container">
        <div class="header-row">

            <h1>ShibaHost</h1>

            <nav class="header-nav">
                <ul>
                    <li><a href="about">О нас</a></li>
                    <li><a href="contacts">Контакты</a></li>
                    <li><a href="login">Вход</a></li>
                </ul>
            </nav>
        </div>

    </div>
</header>