<header class="header">
    <div class="container">
        <div class="header-row">

            <h1>ShibaHost</h1>

            <nav class="header-nav">
                <ul>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </nav>
        </div>
        <div class="header-home">
            <img src="anim.png">
            <div class="header-home text">
                <h1><b>ShibaHost</b>- покажи себя всему миру</h1>
                <h3>Наш проект поможет вам в демонстрации своих разработок в сфере Web и не только! </h3>
                <button>Вперёд!</button>
            </div>
        </div>
    </div>
</header>