<header class="header">
    <div class="container">
        <div class="header-home">
            <img src="anim.png">
            <div class="header-home text">
                <h1><b>ShibaHost</b>- покажи себя всему миру</h1>
                <h3>Наш проект поможет вам в демонстрации своих разработок в сфере Web и не только! </h3>
                <a class="button" href="#about">Вперёд!</a>
            </div>
        </div>
    </div>
</header>

<section class="parallaxEF">
    <img class="parallaxEF" src="backgrounds.png">
</section>
<section style="height: 10vh"></section>
<div id="about" class="about">
    <div class="container">
        <div class="">
            <img src="anim.png">
            <div class="header-home text">
                <h1><b>ShibaHost</b>- ещё в разработке</h1>
                <h3>Вы можете просто полюбоваться собачками :)</h3>
            </div>
        </div>
    </div>
</div>